<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create customer</title>
</head>
<body>
<form action="#" th:action="@{/customer/update}" th:object="${customer}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="firstName">First name</label>
    <input readonly type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <br/>
    <label for="lastName">Last name</label>
    <input readonly type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label>Products</label>
    <br/>
    <tr th:each="product: ${customer.products}">
        <td th:text="${product.name}" />
        <br/>
    </tr>
    <select th:field="*{products}">
        <option th:each="product : ${products}"
                th:value="${product}"
                th:text="#{${'product.name'}}">new products</option>
    </select>
    <input type="submit" value="Add Product">
</form>
</body>
</html>
